link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css")
.evalocale-select
	button#evalocale-toggle.btn-evalocale(data-evalocale = $$.default)
		.content
			.flag
				-var css = "fi fis fi-" + $$.default.substr(3,2).toLowerCase(); 
				span(class=css)
			.text !{$$.default.substr(0,2).getLanguage()}
	#evalocale-container
		for l in $$.languages
			button.btn-evalocale(data-evalocale=l)
				.content
					.flag
						-var css = "fi fis fi-" + l.substr(3,2).toLowerCase(); 
						span(class=css)
					.text !{l.substr(0,2).getLanguage()}
script.
	document.getElementById("evalocale-toggle").addEventListener("click", function(){
		var container = document.getElementById("evalocale-container");
		var containerStyle = getComputedStyle(container);

		if (containerStyle.display === 'none') {
			container.style.display = 'block';
			container.style.transform = 'translateY(0%)';
		} else {
			container.style.transform = 'none'; // Reset the transform
			container.style.display = 'none'; // Hide the container
		}
	});
	// hide container on click is out of target
	document.addEventListener('click', function(event) {
		var select = document.querySelector('.evalocale-select');
		var target = event.target;
		if (select.contains(target)) return;
		else {
			var container = document.getElementById("evalocale-container");
			container.style.transform = 'none';
			container.style.display = 'none';
		}		
	});
	var buttons = document.querySelectorAll(".btn-evalocale");
	buttons.forEach((button) => {
		button.addEventListener('click', function () {
			var evalangValue = this.getAttribute("data-evalocale");
			var original = document.getElementById("evalocale-toggle").getAttribute("data-evalocale");
			if(evalangValue == original) return false;
			if (evalangValue) {
				document.cookie = "evalang=" + evalangValue + ";path=/";
				var event = new CustomEvent('evalocale.changed', { 
					detail: {selected: evalangValue, original: original},
					cancelable: true
				});
				window.dispatchEvent(event);
			}			
		});		
	});
style.
	body {
		background-color: lightgray;
	}
	.evalocale-select {		
		.content {
			display: flex;
			padding: 5px;
			align-items: center;
			.text {
				margin-left: 1rem;
			}
		}
		.btn-evalocale {
			display: block;
			border: none;
			background-color: white;
			cursor: pointer;
		}
		.fi {
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 50%;
			border: lightgray solid 1px;
		}
		#evalocale-container {
			display: none;
			transition: 15s;
			display: none;
			transform: translateY(0%);
			max-width: fit-content;
		}
	}
script.
	window.addEventListener('evalocale.changed', function(event) {
				if (event.defaultPrevented) return;
		else {
			var container = document.getElementById("evalocale-container");
			container.style.transform = 'none';
			container.style.display = 'none';
		}
	});